body{
    background-color: #e6e695;
}
.admintitle{
    background-color: rgb(11, 11, 73);
    color:white;
    margin-left:50px;
    margin-right:50px;
    height:140px;
    position: relative;
}
.admintitle h1{
    text-align: center;
    line-height: 140px;

}
.admintitle h4{
    float:right;
    margin:0;
    position: absolute;
    top:5px;
    right:5px;
    height:18%;
    border: 1px solid white;
    background:yellow;
    border-radius: 5px;
    width:70px;
    
}
.admintitle h4 a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    z-index:1;
    text-align: center;
    margin-left:5px;
   
}.admintitle h4:hover {
    background-color: white;
}
.dashboard{
    background-color: rgba(21, 129, 224, 0.821);
    margin-left:50px;
    margin-right:50px;
    height:140px;
    font-size: 25px;
}
table{
    width:50%;
    align-items: center;
    
}
table tr td a{
    text-decoration: none;
    color:white;
}