*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:tahoma ;
}
nav{
    width:100%;
    min-width: 0;
}
.sidebar{
    margin:0;
    border:6px solid black;
    height:1000px;
    width:16rem;
    font-size:1.1rem;
    transition: all 0.5s ease;
}
.sidebar a:hover{
   padding-left: 5px;
    transition: all 0.3s ease;
    background-color: #dc3545;
    color: white;
}
.sidebar-heading{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar i{
   color: white;
   background: #dc3545 ;
   border-radius: 50%;
   padding:3px;
   margin-right: 4px;
}
